<% include ./partials/header %>
<div>
<h1>Hello from new route</h1>
<form action="/blogs" method="POST">
    <input type="text" name="blog[title]" placeholder="title">
    <input type="text" name="blog[image]" placeholder="image">
    <input type="text" name="blog[body]" placeholder="blog post goes here">
    <input type="submit"  value="Submit">
</form>
</div>


<% include ./partials/footer %>