<% include ./partials/header %>
<div>
<h1>Hello from new route</h1>
<form action="/blogs" method="POST">
    <input type="text" name="blog[title]" placeholder="title" required>
    <input type="text" name="blog[image]" placeholder="image" required>
    <input type="text" name="blog[body]" placeholder="blog post goes here" required>
    <input type="submit"  value="Submit">
</form>
</div>


<% include ./partials/footer %>